.cabecalho__menu-hamburguer {
    width: 24px;
    height: 36px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    margin: 0px 24px;
    display: inline-block;
}   

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 0.5em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu-titulo, .lista-menu-item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu-titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    background: url(../img/Menu\ Aberto.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    margin: 0px 24px;
    display: inline-block; 
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-degrade);
    margin-right: 0.8em;
    border-radius: 10px;
}


@media screen and (min-width: 1024px) {
    .container {
        margin-left: 5em;
    }

    .container__titulo, 
    .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        margin-left: 0.2em;
    }

    .container__titulo--negrito:hover {
        color: var(--laranja);
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        margin-top: 1.5em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opcoes__item {
        padding: 2em 1em;
        border-radius: 8px;
        margin-left: 1em;
        margin-top: 0.1em;
    }

    .opcoes__item:hover, .opcoes__link:hover {
        color: var(--laranja);
    }

    .lista-menu-item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu-item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

    .container {
        margin-right: 1.5em;
    }

    .container__texto:hover {
        color: var(--laranja);
    }
}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .opcoes {
        margin-right: auto;
    }

    .container__texto {
        display: block;
    }

}